.Modal {
  position: absolute;
  padding: 24px;
  border: none;
  width: 335px;
  height: 433px;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  outline: none;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}
