.container {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 14px 8px 14px 20px;

  @media screen and (min-width: 375px) {
    min-width: var(--container-mobile);
  }

  @media screen and (min-width: 768px) {
    min-width: var(--container-tablet);
    padding: 20px 32px;
  }

  @media screen and (min-width: 1440px) {
    width: calc(100% - var(--sidebar-desktop-width));
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 14px 24px;
    margin-left: auto;
  }
}

.projectNav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 39px;
}

.projectName {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.defaultBoard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.emptyBoardText {
  max-width: 486px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(22, 22, 22, 0.7);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.boardCreationSpan {
  color: var(--primary-color-green-hover);
}

/* New Columns */

.createColumnBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  width: 100%;
  height: 56px;
  padding: 14px 0;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background: var(--primary-color-white);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
  cursor: pointer;
  transition:
    color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover,
  &:focus {
    color: var(--primary-color-white);
    background-color: var(--primary-color-green-hover);
  }

  @media screen and (min-width: 375px) {
    /* width: 335px; */
    min-width: 335px;
  }
}

.addColumnIcon {
  width: 28px;
  height: 28px;
  padding: 7px;
  border-radius: 6px;
  background-color: var(--primary-color-black);
}

/* Todo List  */

.todoColumnsWrapper {
  overflow-x: auto;

  &::-webkit-scrollbar {
    background-color: var(--primary-color-white);
    border-radius: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-scrollThumb-bg);
    border: none;
    border-radius: 12px;
  }
}

.columnsList {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 18px;
}

.coulmnsItem {
  width: 335px;
}

.columnTitle {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 14px;
  border-radius: 8px;
  background-color: var(--primary-color-white);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.columnBtnsControlWrapper {
  display: flex;
  gap: 8px;
}

.columnBtnsControl svg {
  transition: fill 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.columnBtnsControl {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover svg {
    fill: var(--primary-color-green-hover);
  }
}

.todoCardsList {
  height: calc(100vh - 112px);
  margin-bottom: 14px;
  overflow: hidden auto;
  width: 347px;

  &::-webkit-scrollbar {
    background-color: var(--primary-color-scrollThumb-bg);
    border-radius: 12px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(22, 22, 22, 0.1);
    border: none;
    border-radius: 12px;
  }
}

.todoCard {
  position: relative;
  width: 335px;
  height: 154px;
  padding: 14px 20px;

  border-radius: 8px;
  background-color: var(--primary-color-white);
  overflow: auto;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background-color: var(--priority-color-low);
  }
}

/* Border Color */

.cardContentWrapper {
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(22, 22, 22, 0.1);
}

.todoTitle {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.todoScope {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.7);
}

.todoInfoWrapper {
  display: flex;
  align-items: end;
}

.priorityTitle {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.5);
}

.priority {
  margin-right: 14px;
}

.priorityWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priorityColor {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--priority-color-low);
}

.priorityType {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.deadlineTitle {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.5);
}

.deadlineDate {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.todosButtonsList {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.todosButtonItem {
  display: flex;
  align-items: end;
}

.todoActionBtn svg {
  transition: fill 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.todoActionBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover svg {
    fill: var(--primary-color-green-hover);
  }
}

.addCardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 56px;
  padding: 14px 0;
  margin: 0 auto 24px auto;
  border: none;
  border-radius: 8px;
  background: var(--primary-color-green);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
  cursor: pointer;
  transition:
    color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover,
  &:focus {
    color: var(--primary-color-white);
    background-color: var(--primary-color-green-hover);
  }
}
