.themeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  margin-right: 10px;
}

.themeButton {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 68px;
  height: 21px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.8);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  width: 100px;
  height: 107px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #fcfcfc;
}

.themeSelector {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  cursor: pointer;

  &:hover {
    color: var(--primary-color-green);
  }
}
