.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;

  border: none;
  background-color: transparent;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.inputField {
  width: 100%;
  height: 49px;
  padding: 14px 18px;
  border: 1px solid var(--primary-color-green);
  border-radius: 8px;
  color: rgba(22, 22, 22, 0.4);
  background-color: var(--primary-color-headerBg);
  outline: none;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);

  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.28571;

  &::placeholder {
    color: rgba(22, 22, 22, 0.4);
  }
}

.subtitle {
  margin: 24px 0 14px 0;
  letter-spacing: -0.28px;
  color: var(--primary-color-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.inputErrorMessage {
  position: absolute;
  right: 24px;
  top: 55px;
  font-size: 12px;
  color: red;
}

.iconList {
  display: flex;
  gap: 8px;
}

.iconLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background-color: inherit;
  width: 18px;
  height: 18px;

  cursor: pointer;

  > svg {
    opacity: 0.5;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  & input:checked + svg {
    fill: var(--primary-color-green-hover);
    opacity: 1;
  }

  &:hover > svg,
  &:focus > svg {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.radioIcon {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
