@import-normalize;

:root {
  --primary-color-white: #ffffff;
  --primary-color-black: #161616;
  --primary-color-green: #bedbb0;
  --primary-color-green-hover: #9dc888;
  --primary-color-gray: rgba(22, 22, 22, 0.3);
  --primary-color-headerBg: #fcfcfc;
  --primary-color-body-background: #f6f6f7;
  --primary-color-scrollThumb-bg: #e8e8e8;

  --primary-color-boxshadow: 0px 0px 7px 0px rgba(178, 237, 195, 0.61);

  --priority-color-without: rgba(22, 22, 22, 0.3);
  --priority-color-low: #8fa1d0;
  --priority-color-medium: #e09cb5;
  --priority-color-high: #bedbb0;

  --sidebar-desktop-width: 260px;

  --container-mobile: 335px;
  --container-tablet: 704px;
  --container-desktop: 1376px;

  --padding-container-tablet: 18px 32px;

  --priority-without: rgba(22, 22, 22, 0.3);
  --priority-low: #8fa1d0;
  --priority-medium: #bedbb0;
  --priority-hight: #e09cb5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  background-color: var(--primary-color-body-background);
}

input[type='text'],
input[type='number'],
input[type='password'] {
  cursor: text;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
